/*GENERAL CSS*/
.links {
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    border-color: rgb(0, 64, 121);
    background-color: #1f2079;
    font-size: 40px;
    width: 80%;
    margin-left: 130px;

}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 190px;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(248, 230, 195);
    font-size: 35px;
    text-align: center;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*INDEX PAGE*/
p {
    color: wheat;
    text-align: left;
    margin: 25px;
    font-size: 25px;
}

#page1pictures {
    width: 450px;
    height: 250px;
    margin: 40px;
    text-align: center;
    border-radius: 30px;

}

.pictures-home {
    border-style: none;
    /* placing two divs next to each other*/
    display: inline-flex;
}

.picture1 {
    text-align: left;
    border-style: solid;
    padding-right: 0px;
    margin-left: 130px;
    width: 800px;
    border-color: rgba(182, 75, 182, 0.487);

}

.picture2 {
    text-align: right;
    border-style: solid;
    float: right;
    width: 800px;
    border-color: rgba(182, 75, 182, 0.487);


}

aside a {
    font-size: 15px;
}

aside ul {
    position: fixed;
    list-style: none;
    background-color: rgba(25, 77, 136, 0.322);
    height: 100%;
    width: 135px;
    top: 0;
    margin: 0 px;
    border-radius: 20px;
    text-align: center;
    margin-top: 0;
    padding: 0;
    overflow: hidden;

}

button {
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    border-style: none;
}

h1 {
    color: wheat;
}

/* PROFILE PAGE*/
table,
th,
td {
    border: 1px solid black;
    margin: 20px;
    color: wheat;
    font-size: 25px;
}

#pictures {
    margin-left: 20px;
    width: 500px;
    height: 500px;
    margin-right: 200px;
}

#logo {
    height: 100px;
    width: 170px;
    top: 0;
    right: 0;
    position: absolute;
}

/*FAQ PAGE*/
dt,
dd {
    color: wheat;

}

dl {
    font-size: 30px
}

h1 {
    font-size: 50px
}

summary {
    font-size: 40px;
    color: wheat;
}

summary p {}

/* BLOG PAGE*/
div {
    border-style: none;
    margin: 20px;


}

#link {
    color: wheat;
    font-size: 25px;

}

.txt1 {
    width: 1000px;
    padding: 10px;
    text-align: left;
    display: inline-block;
    float: left;
}

.swot {
    width: 400px;
    padding: 10px;
    text-align: left;
    display: inline-block;
    float: left;
    height: 150px;
}

.programming {
    display: inline-block;
    text-align: left;
    float: right;
    height: 170px;
    width: 420px;
}

h3 {
    font-size: 30px;
    color: wheat;
}

h2 {
    color: wheat;
    font-size: 25px;
}


/* POST PAGE*/
.swotList {
    font-size: 15px;
    color: wheat;
    float: right;
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    top: 100%;
    right: 100%;
    height: 700px;
}

.main {
    display: inline-flex;
    float: right;
    margin-left: 0px;
    width: 100%;
    
}

.article {
    width: 1300px;
    border-style: solid;
    border-color: wheat;
    border-radius: 50px;
    margin: 10px;
    padding: 0px;
    height: 550px;
    margin-right: 155px;
    margin-left: 40px;
}

#ITarticle {
    border-style: solid;
    width: 70%;
    border-radius: 50px;
    border-color: wheat;
    font-size: 15px;
    margin-top: 750px;
    
}

/*Stregths, Weaknesses, THreads, Opportunities*/
.swot {
    font-size: 20px;
    text-align: right;
}

.programming {
    margin: 10px;
    font-size: 20px;
    text-align: left;
    border-style: solid;
    border-color: wheat;
    border-radius: 30px;
    padding: 20px;
}

.programming ul {
    font-size: 15px;
    color: wheat;
}

.linksPost {
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    border-color: rgb(0, 64, 121);
    background-color: #1f2079;
    font-size: 30px;
    width: 200px;
    margin-left: 130px;
}

.linkPost {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 70px;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(248, 230, 195);
    font-size: 35px;
    text-align: center;
}

/*POST PAGE 2*/
.resources{
    font-size: 15px;
    margin: 0px;
}

/* DASHBOARD PAGE*/
.dashboard {
    border-radius: 20px;
}

tr:hover {
    background-color: rgba(4, 134, 21, 0.5);
}

.progress {
    position: relative;
    left: 50%;
}

.progress label {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.progress progress {
    width: 500px;
}