.swotList {
    font-size: 15px;
    color: wheat;
    float: right;
    border-style: solid;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    top: 100%;
    right: 100%;
    height: 700px;
}

.main {
    display: inline-flex;
    float: right;
    margin-left: 0px;
    width: 100%;
    
}

.article {
    width: 1300px;
    border-style: solid;
    border-color: wheat;
    border-radius: 50px;
    margin: 10px;
    padding: 0px;
    height: 550px;
    margin-right: 155px;
    margin-left: 40px;
}

#ITarticle {
    border-style: solid;
    width: 70%;
    border-radius: 50px;
    border-color: wheat;
    font-size: 15px;
    margin-top: 750px;
    
}

/*Stregths, Weaknesses, THreads, Opportunities*/
.swot {
    font-size: 20px;
    text-align: right;
}

.programming {
    margin: 10px;
    font-size: 20px;
    text-align: left;
    border-style: solid;
    border-color: wheat;
    border-radius: 30px;
    padding: 20px;
}

.programming ul {
    font-size: 15px;
    color: wheat;
}

.linksPost {
    border-style: solid;
    border-radius: 40px;
    border-width: 2px;
    border-color: rgb(0, 64, 121);
    background-color: #1f2079;
    font-size: 30px;
    width: 200px;
    margin-left: 130px;
}

.linkPost {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 70px;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(248, 230, 195);
    font-size: 35px;
    text-align: center;
}
